*{
    box-sizing: border-box;
    color: black;
    padding: 0;
    margin: 0 auto;
}
#back-button{
    float: right;
}


.header{
    padding: 0;
    margin: 0;
    width:100%;
    height: 4rem;
    background-color: #990000;
    list-style: none;
    display: flex;
}

.nav ul{
    height: 100%;
    list-style: none;
    display: flex;
}

.nav li{
    margin: 0 auto;
    font-size: 2rem;
    color:white;
    margin-inline: 4rem;
    line-height: 4rem;
    outline: none;
}

.nav ul p {
    margin: 0 auto;
    font-size: 1.5rem;
    color:white;
    margin-inline: 2rem;
    line-height: 4rem;
    outline: none;
    font-family: "Playwrite CA";
}

a{
    color: white;
    outline: none;
    border:none;
    text-decoration: none;
}

body{
    margin: 0 auto;
    padding: 0;
    background-color: #fff2cc;
}

main{
    margin-top: 1rem;
    text-align: center;
}

main h1{
    font-size: 60px;
    font-family: "Playwrite CA";
    color: #990000;
    text-align: center;
}

section{
    margin-top: 20px;
 margin-left: 8%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 32%;
    padding: 0 50px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

.card img{
    width:100%;
    height: 50%;
    margin-top: 5px;
    border: #990000 5px solid;
}

.card h3{
    color: #990000;
    font-size: 25px;
}

.card p{
    color: #990000;
    font-size: 15px;

}

#card-button{
    background-color: #990000;
    color: white;
    border: none;
    padding: 10px;
    font-size: 10px;
    margin-bottom: 20px;
    
}

footer{
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: #990000;
    color: white;
    width: 100%;
    text-align: center;
}

.about-info h1{
    font-size: 60px;
    font-family: "Playwrite CA";
    color: #990000;
    text-align: center;
    padding-bottom:10px;
}